<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LevelGraph Playground</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/addon/lint/lint.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
  <link rel="edit-form" href="https://github.com/WileyLabs/levelgraph-playground/edit/master/index.html" />
  <style>
  [v-cloak] {display: none}
  .tabular.menu .item {cursor: pointer}
  #app {margin: 1%}
  .ui.buttons.hover-hidden {display: none}
  tr:hover .ui.buttons.hover-hidden {display: inherit}
  .compact.table td.tight {padding: 0}
  tr td .ui.input {display: none}
  .ui.bottom.attached.segment {padding:0}
  /* codemirror */
  .CodeMirror.cm-s-default {border-top: 1px solid #ccc;}
  </style>
</head>
<body>
  <p></p>
  <div id="app">
    <a class="ui right floated icon button" href="https://github.com/WileyLabs/levelgraph-playground" target="_blank">
      <i class="github alternate icon"></i>
      Fork / Contribute
    </a>
    <h1 class="ui dividing page header">
      <a href="http://levelgraph.io/" target="_blank">LevelGraph</a> Playground
      <div class="ui sub header">
        a graph database for Node.js and browsers
      </div>
    </h1>
    <div class="ui form">
      <div class="ui field">
        <div class="ui top attached tabular menu">
          <div class="item"
            :class="{active: current_tab === 'json-ld'}"
            @click="changeTab('json-ld')">JSON-LD</div>
          <div class="item"
            :class="{active: current_tab === 'n3'}"
            @click="changeTab('n3')">N3/Turtle</div>
        </div>
        <div class="ui bottom attached tab segment" style="padding: inherit 0"
          :class="{active: current_tab === 'json-ld'}">
          <code-mirror :code="input.jsonld" :options="{mode: 'application/ld+json'}" ref="jsonld"></code-mirror>
          <div class="ui bottom attached menu">
            <div class="item">
              <div class="ui labeled input">
                <label for="config-jsonld-base" class="ui basic label">base</label>
                <input id="config-jsonld-base" v-model="config.jsonld.base" />
              </div>
            </div>
            <div class="item">
              <div class="ui checkbox input" @click="config.jsonld.overwrite = !config.jsonld.overwrite">
                <input type="checkbox" v-model="config.jsonld.overwrite">
                <label>overwrite</label>
              </div>
            </div>
            <div class="item">
              <button class="ui positive button" @click="put()">put</button>
            </div>
            <div class="item">
              <button class="ui negative button" @click="del()">delete</button>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" style="padding: inherit 0"
          :class="{active: current_tab === 'n3'}">
          <code-mirror :code="input.n3" :options="{mode: 'text/turtle'}" ref="n3"></code-mirror>
          <div class="ui borderless bottom attached menu">
            <div class="item">
              <button class="ui positive button" @click="put()">put</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="ui compact table">
      <thead>
        <tr>
          <th>subject</th>
          <th>predicate</th>
          <th colspan="2">object
            <button @click="empty()" class="ui right floated negative button">empty</button>
          </th>
        </tr>
        <tr>
          <th class="four wide">
            <div class="ui fluid input">
              <input v-model="filter.subject" @keyup.enter="applyFilter()">
            </div>
          </th>
          <th class="five wide">
            <div class="ui fluid input">
              <input v-model="filter.predicate" @keyup.enter="applyFilter()">
            </div>
          </th>
          <th class="five wide">
            <div class="ui fluid input">
              <input v-model="filter.object" @keyup.enter="applyFilter()">
            </div>
          </th>
          <th class="two wide">
            <div class="ui tiny buttons">
              <button @click="applyFilter()" class="ui button">Filter</button>
              <div class="or">
              <button @click="addSPO()" class="ui positive button">Add</button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody v-cloak>
        <tr v-for="(spo, idx) in table">
          <td>{{spo.subject}}</td>
          <td>{{spo.predicate}}</td>
          <td>{{spo.object}}</td>
          <td class="tight">
            <div class="ui mini hover-hidden right floated buttons">
              <div class="ui icon button" @click="setFilter(spo)">
                <i class="pencil icon"></i>
              </div>
              <div class="ui red icon button" @click="removeSPO(spo, idx)">
                <i class="trash icon"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="system.js"></script>
  <script src="config.js"></script>
  <script>System.import('./index.js').catch(console.error.bind(console));</script>
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.min.js"></script>
  <script src="dist/index.js"></script>-->
</body>
</html>
