<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LevelGraph Playground</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
  <link rel="edit-form" href="https://github.com/BigBlueHat/levelgraph-playground/edit/master/index.html" />
  <style>
  [v-cloak] {display: none}
  .tabular.menu .item {cursor: pointer}
  #app {margin: 1%}
  </style>
</head>
<body>
  <p></p>
  <div id="app">
    <a class="ui right floated icon button" href="https://github.com/BigBlueHat/levelgraph-playground" target="_blank">
      <i class="github alternate icon"></i>
      Fork / Contribute
    </a>
    <h1 class="ui dividing page header">
      <a href="http://levelgraph.io/" target="_blank">LevelGraph</a> Playground
      <div class="ui sub header">
        a graph database for Node.js and browsers
      </div>
    </h1>
    <div class="ui form">
      <div class="ui field">
        <div class="ui top attached tabular menu">
          <div class="item"
            :class="{active: current_tab === 'json-ld'}"
            @click="changeTab('json-ld')">JSON-LD</div>
          <div class="item"
            :class="{active: current_tab === 'n3'}"
            @click="changeTab('n3')">N3/Turtle</div>
        </div>
        <textarea v-model="input.jsonld" class="ui bottom attached tab segment"
          :class="{active: current_tab === 'json-ld'}"></textarea>
        <textarea v-model="input.n3" class="ui bottom attached tab segment"
          :class="{active: current_tab === 'n3'}"></textarea>
      </div>
      <button class="ui button" @click="put()">put</button>
    </div>

    <table class="ui table">
      <thead>
        <tr>
          <th>subject</th>
          <th>predicate</th>
          <th>object
            <button @click="applyFilter()" class="ui right floated tiny button">Filter</button>
          </th>
        </tr>
        <tr>
          <th>
            <div class="ui input">
              <input v-model="filter.subject" @keyup.enter="applyFilter()">
            </div>
          </th>
          <th>
            <div class="ui input">
              <input v-model="filter.predicate" @keyup.enter="applyFilter()">
            </div>
          </th>
          <th>
            <div class="ui input">
              <input v-model="filter.object" @keyup.enter="applyFilter()">
            </div>
          </th>
        </tr>
      </thead>
      <tbody v-cloak>
        <tr v-for="spo in table">
          <td>{{spo.subject}}</td>
          <td>{{spo.predicate}}</td>
          <td>{{spo.object}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="dist/index.js"></script>
</body>
</html>
